$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";
@import "bootstrap-sass/lib/responsive";

$fa-font-path: "/bower_components/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.flashcard-list-container > div {
    margin: 15px 0px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-left: 16px;
}

.flashcard-list-container .toolbar {
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-top: 10px;
}

.flashcard-list-container .toolbar button {
    clear: both;
    display: block;
    color: #bbb;
    text-decoration: none;
    padding: 0px;
}

.flashcard-list-container .toolbar button:hover {
    color: #000;
    text-decoration: none;
}

markdown-editor .cancel {
    margin-right: 7px;
}

button.add-flashcard {
    margin-bottom: 15px;
}

.flashcard-contents.front {
    background-color: rgba(255, 180, 0, 0.3);
}

.flashcard-contents.back {
    background-color: rgba(25, 255, 169, 0.3);
}

.flashcard-buttons {
    margin-top: 15px;
    text-align: center;
}