<div ng-controller="FlashcardListDetailsCtrl">
    <a ng-href="/#/FlashcardList" class="back-to-flashcard-sets">
        &lt;&lt; back to list of flashcard lists
    </a>

    <div class="page-header">
        <h1>
            {{ list.title }}
            <small>
                <a ng-href="/#/Player/{{ list.id }}" class="go-to-player"><i class="fa fa-play-circle-o"></i></a>
            </small>
        </h1>
    </div>

    <p ng-if="flashcards.length == 0" class="text-warning no-flashcards-message">
        You have not yet added any flashcards to this list!
    </p>

    <button 
        class="add-flashcard btn btn-primary"
        ng-click="addNewFlashcardAtTop(list.id)">
        <i class="fa fa-plus-square"></i>        
        Add new flashcard
    </button>

    <div ng-if="flashcards.length != 0" class="flashcards-container">
        <div ng-repeat="fl in flashcards" class="row-fluid flashcard">

            <div class="span5 front well well-small">
                <markdown-editor 
                    text="fl.front"
                    update-fn="updateFlashcardFront(fl, newValue);"
                    edit-mode="fl.isNew"
                    placeholder-text="No text given"
                    >
                </markdown-editor>
            </div>

            <div class="span5 back well well-small">
                <markdown-editor 
                    text="fl.back"
                    update-fn="updateFlashcardBack(fl, newValue);"
                    placeholder-text="No text given"
                    >
                </markdown-editor>
            </div>
            
            <div class="span2 toolbox">
                <button class="btn btn-link remove-flashcard"
                        ng-click="showRemoveFlashcardModal(fl);">
                    <i class="fa fa-trash-o fa-2x"></i>
                </button>
            </div>

        </div>
    </div>
</div>