<div ng-controller="FlashcardlistCtrl"> 
    <div class="page-header">
        <h1>Your flashcard lists</h1>
    </div>

    <button class="btn btn-primary add-new-list" ng-click="showModal()"><i class="icon-plus-sign-alt"></i> Add new list</button>

    <div class="flashcard-list-container">
        <div ng-repeat="list in lists">
            <div class="toolbar">
                <i class="icon-remove-sign"></i>
            </div>
            <h3>{{ list.title }} <small>Added: {{ list.create_date | date: 'medium'}}</small></h3>
        </div>
    </div>

</div>
