<div 
    class="preview"
    ng-hide="isEditMode" 
    ng-dblclick="toEditMode()">
</div>

<p>
    <button 
        class="cancel btn btn-mini btn-danger" 
        type="button"
        ng-show="isEditMode" 
        ng-click="cancel()">
        <i class="icon-remove"></i>
    </button>

    <button
        class="save btn btn-mini btn-success"
        type="button"
        ng-show="isEditMode"
        ng-click="ok()">
        <i class="icon-ok"></i>
    </button>
</p>

<textarea ng-show="isEditMode" class="editor input-block-level">
</textarea>

<div>
    <button 
        class="btn btn-link edit"
        ng-hide="isEditMode"
        ng-click="toEditMode()">
        Edit
    </button>
</div>