<div ng-controller="PlayerCtrl"> 
    <div 
        class='flashcard-contents 
               {{ isFront ? "front" : "back" }}
               hero-unit
               well
               well-large' 
        ng-bind-html="renderedText">
    </div>

    <div class="flashcard-buttons">
      <div class="btn-group">
          <button class="btn prev"><i class="icon-backward"></i></button>
          <button class="btn show-back" ng-click="toggleFrontBack()"><i class="icon-rotate-right"></i></button>
          <button class="btn next" ng-click="goToNextFlashcard()"><i class="icon-forward"></i></button>
      </div>
    </div>
</div>
